* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:not(input):not(textarea),
::after,
::before {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
