.Title {

  &_level {

    &_1 {
      font-weight: 500;
      line-height: 32px;
      font-size: 24px;
      letter-spacing: -.43px;
    }

    &_2 {
      font-weight: 500;
      line-height: 22px;
      font-size: 17px;
      letter-spacing: -.43px;
    }
  }
}
